{% extends 'feed/base.html' %}
{% block content %}

<div class="story-overlay">
    <div class="story-modal">
        <a href="{% url 'feed:post_list' %}" class="story-close">+</a>

        {% if has_prev_photo %}
        <a href="{% url 'feed:story_view' pk=story.pk %}?photo={{ index|add:'-1' }}" class="story-nav story-prev">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
        </a>
        {% endif %}

        <div class="story-photo-box">
        {% if current_image %}
            <img src="{{ current_image.image.url }}">
        {% endif %}
        </div>

        {% if has_next_photo %}
        <a href="{% url 'feed:story_view' pk=story.pk %}?photo={{ index|add:'1' }}" class="story-nav story-next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}